<table id="brainCandiesTable">
    <tr ng-repeat="people in liCtrl.getUser ">
        <td>{{people.id}}</td>
        <td>{{people.firstName}}</td>
    </tr>
</table>

<form ng-submit="liCtrl.saves()">
    <div class="form-group">
        <label for="firstName">Name</label>
        <input type="text" minlength="3" class="form-control" id="firstName" value="submit" ng-model="liCtrl.newPeople.firstName" required>
    </div>
    <div>
        <input type="submit" value="Save" id="saveButton" ng-disabled="liCtrl.newPeople.firstName == null">
    </div>
</form>
